$green: #00d1b2;

@import "bootstrap/bootstrap.scss";
@import "utilities";
@import "components/welcome";
@import "components/contact";

/* Plugins */
@import "slick.scss";
@import "animate.scss";

body {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    font-size: 1.1em;
}